@layer reset, base, tokens, recipes, utilities;

@layer reset {
	/* Add your reset styles here */
}

@layer base {
	/* Add your base styles here */
}

@layer recipes {
	/* Add your recipe styles here */
}

@layer tokens {
	/* Add your design token styles here */
}

@layer utilities {
	/* Add your utility styles here */
}
